{% extends 'app/base.html' %}


{% block 'content' %}

<div class="row m-2">
    <div class="col ">
<form method="POST" id = 'user-form'>
    {% csrf_token %}
    <input type="hidden",id = 'id_id'>
{{ form.as_p }}
<button type ='submit' class = 'btn btn-primary' >Submit</button>
</form>
</div>

<div class="col">
    <table class="table table-striped table-hover ">
  <thead class = 'table-dark '>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Comment</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody >
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
            <td>
        <button type = 'submit' class = 'btn btn-primary edit-btn'>Update</button>
        <button type = 'submit' class = 'btn btn-danger delete-btn'>Delete</button>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
            <td>
        <button type = 'submit' class = 'btn btn-primary edit-btn'>Update</button>
        <button type = 'submit' class = 'btn btn-danger delete-btn'>Delete</button>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
      <td>
        <button type = 'submit' class = 'btn btn-primary edit-btn'>Update</button>
        <button type = 'submit' class = 'btn btn-danger delete-btn'>Delete</button>
      </td>
    </tr>
  </tbody>
</table>
</div>

</div>


<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

<script>
 $(document).ready(function (){

   

    console.log('Page is ready')
    $('#user-form').on('submit', function(e){
        e.preventDefault()
        // const query = $(this).serialize();
        // console.log('query',query)
        const url = "{% url 'index' %}"
        console.log('url',url)
        $.post(url,$(this).serialize(),function(response){
            console.log("response",response);
        })
        

    })
 })

</script>



{% endblock %}