{% extends 'app/base.html' %}


{% block 'content' %}

<div class="row m-2">
    <div class="col ">
<form method="POST" id = 'user-form'>
    {% csrf_token %}
    <input type="hidden",id = 'id_id'>
{{ form.as_p }}
<button type ='submit' class = 'btn btn-primary' >Submit</button>
</form>
</div>

<div class="col">

  
    <table class="table table-striped table-hover ">
  <thead class = 'table-dark '>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Comment</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody id = 'table'>
    {{ tableHtml }}
  
  </tbody>
</table>
</div>

</div>


<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

<script>
 $(document).ready(function (){

   

    console.log('Page is ready')
    $('#user-form').on('submit', function(e){
        e.preventDefault()
        // const query = $(this).serialize();
        // console.log('query',query)

        // const pk = $('#id_id').val();
        // console.log('pk',pk);
        const url = "{% url 'index' %}"
        console.log('url',url)
        $.post(url,$(this).serialize(),function(response){
            console.log("response",response);
            $('#table').prepend(response.tableHtml);

            $('#table tr').each(function(index) {
              $(this).find('th').first().text(index+1);
            } )
        })

        $('#user-form')[0].reset()

    });
    
    $(document).on('click','.edit-btn',function(){
      console.log('this is edit button')
      const editBtn = $(this);
      $('#id_id').val(editBtn.data('id'));
      $('#id_name').val(editBtn.data('name'));
      $('#id_email').val(editBtn.data('email'));
      $('#id_comment').val(editBtn.data('comment'));
    })
    
    $(document).on('click','.delete-btn',function(){
      console.log('this is delete button')
    })

 })

</script>



{% endblock %}